<style>
.page-title {
  background-color: #ffce1b;
  color: #000000;
  padding: 12px 20px;
  font-weight: bold;
}

.btn-gxyy {
  background-color: #ffce1b;
  color: black;
  border: none;
  padding: 12px 25px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.btn-gxyy:hover {
  background-color: black;
  color: #ffce1b;
  transform: scale(1.05);
}

.btn-des {
  background-color: #ff4747;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.btn-des:hover {
  background-color: black;
  color: #ff4747;
  transform: scale(1.05);
}

.card{
  background-color: #000;
  color: #ffce1b;
  border: 1.5px solid #ffce1b;
  border-radius: 15px;
  margin-bottom: 30px;
  box-shadow: 0 4px 15px rgba(255, 206, 27, 0.2);
}
.card-body{
  padding: 20px;
}

.card-header{
  background-color: #000;
  color: #ffce1b;
  font-size: 26px;
  font-weight: 700;
  border-bottom: 2px solid #ffce1b;
  padding: 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.table{
  background-color: #000;
  color: #ffce1b;
  border: 1px solid #ffce1b;
  text-align: center;
  vertical-align: middle;
}


.table th {
  background-color: #1a1a1a;
  color: #ffd700;
  font-weight: bold;
  border-bottom: 2px solid #ffce1b;
}

.table td {
  border-color: #333;
}

.table tr:hover {
  background-color: #111;
  color: #ffd700;
  transition: 0.2s;
}

.action-buttons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

</style>

<h2 class = "page-title text-center">SHOW GUARDIAN</h2>

<div class="card">
  <div class ="card-header"><%= @guardian.name%></div>
  <div class ="card-body">

    <h4><strong>Name: <%= @guardian.name %></h3>
    <h4><strong>Email: <%= @guardian.email_address %></h3>
    <h4><strong>Contact Number: <%= @guardian.contact_number %></h3>
  </div>
</div>

<div class="card">
<div class="card-header">Associated Student</div>
 <div class="card-body p-0">
<table class="table taable-bordered mb-0 table-hover table-striped">
  <thead>
    <tr class="table-active">
      <th >Student Name</th>
      <th>Relationship</th>
    </tr>
  </thead>
  <tbody>
    <% @guardian.student_guardians.each do |sg| %>
      <tr>
        <td><%= sg.student.name %></td>
        <td><%= sg.relationship %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<div class="action-buttons">
  <%= link_to "Edit this guardian", edit_guardian_path(@guardian), class: "btn btn-gxyy" %>
  <%= link_to "Back to guardians", guardians_path, class: "btn btn-gxyy" %>
  <%= button_to "Destroy this guardian", @guardian, method: :delete, class: "btn btn-des"%>
</div>
