<h1 class="page-title text-center " style="background-color: #ffce1b; color: black;" >SECTION</h1>

<table class="table table-light table-striped table-hover">
  <thead>
<thead>
  <tr class="table table-dark text-center" >
    <th style="color: #ffce1b;">Name</th>
    <th style="color: #ffce1b;">Room</th>
    <th style="color: #ffce1b;">Time Slot</th>
    <th style="color: #ffce1b;">Subject</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.name %></td>
        <td><%= section.room %></td>
        <td><%= section.time_slot %></td>
        <td><%= section.subject.name %></td>

        <td><%= link_to " Show ", section, class: "btn btn-gxyy" %></td>
        <td><%= link_to " Edit ", edit_section_path(section), class: "btn btn-gxyy" %></td>
        <td><%= button_to "Destroy", section, method: :delete, class: "btn btn-des" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br><br>

<%= link_to "New Section", new_section_path, class: "btn btn-gxgg" %>
