<div class="card shadow-sm">
  <div class="card-body">
    <%= form_with(model: student_guardian) do |f| %>
      <div class="mb-3">
        <%= f.label :student_id, "Student", class: "form-label fw-bold" %>
        <%= f.collection_select :student_id, Student.all, :id, :name, { prompt: "Select a student" }, { class: "form-select" } %>
      </div>
      <div class="mb-3">
        <%= f.label :guardian_id, "Guardian", class: "form-label fw-bold" %>
        <%= f.collection_select :guardian_id, Guardian.all, :id, :name, { prompt: "Select a guardian" }, { class: "form-select" } %>
      </div>
      <div class="mb-3">
        <%= f.label :relationship, class: "form-label fw-bold" %>
        <%= f.text_field :relationship, class: "form-control", placeholder: "Enter relationship (e.g. Mother, Father)" %>
      </div>
      <div class="text-end">
        <%= f.submit class: "btn btn-gxyy" %>
      </div>
      
    <% end %>
  </div>
</div>
